@{
    ViewBag.Title = "Register";
}

@model Site.Models.AlunoDTO

<style>
    .modal-over {
        overflow-y: auto;
    }

    .pdfobject-container {
        height: 500px;
    }

    .form-horizontal .control-label {
        text-align: unset;
    }


    .btn-group btn-group-toggle {
        color: darkred;
    }

    .btn btn-secondary active {
        color: darkred;
    }

    .inputDnD .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 7em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
    }

        .inputDnD .form-control-file:before {
            content: attr(data-title);
            position: absolute;
            top: 0.5em;
            left: 0;
            width: 100%;
            min-height: 6em;
            line-height: 2em;
            padding-top: 1.5em;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.25em dashed currentColor;
            -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
        }

        .inputDnD .form-control-file:hover:before {
            border-style: solid;
            box-shadow: inset 0px 0px 0px 0.25em currentColor;
        }

    body {
        background-color: #f7f7f9;
    }

    ul.list-group:after {
        clear: both;
        display: block;
        content: "";
        display: flex;
    }

    li i {
        float: right;
    }

    .modal-scroll {
        overflow-y: auto;
    }
</style>

<form class="form-horizontal" name="form0" id="form0 " method="POST" enctype="multipart/form-data">
    <div class="container-fluid panel no-margin-bottom">

        <h3><span class="fa fa-calculator"></span> Dados do Livro</h3>

        <div class="form-group">
            @Html.LabelFor(x => x.Nome, htmlAttributes: new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.EditorFor(x => x.Nome, new { htmlAttributes = new { @placeholder = "Nome", @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(x => x.Indication, htmlAttributes: new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.EditorFor(x => x.Indication, new { htmlAttributes = new { @placeholder = "Indicação", @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.Indication, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.IdAuthor, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.IdAuthor, (List<SelectListItem>)ViewBag.listaAut, "--Selecione um Autor--", new { @class = "form-control", @autofocus = "true", @data_live_search = "true" })
                @Html.ValidationMessageFor(m => m.IdAuthor, null, new { @class = "help-block position-absolute" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.IdGenre, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.IdGenre, (List<SelectListItem>)ViewBag.listaGen, "--Selecione um Genero--", new { @class = "form-control", @autofocus = "true", @data_live_search = "true" })
                @Html.ValidationMessageFor(m => m.IdGenre, null, new { @class = "help-block position-absolute" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Saga, htmlAttributes: new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.EditorFor(x => x.Saga, new { htmlAttributes = new { @placeholder = "Saga", @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.Saga, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="card-footer">
            <input type="submit" onclick="AddBook()" class="btn btn-primary btn-lg btn-block" />
        </div>

    </div>
</form>

<script>

    function AddBook()
    {
        var formData = new FormData();

        formData.append("Nome", $("#Nome").val());
        //formData.append("IdAut", $("#IdAuthor option:selected").val());
        //formData.append("IdGen", $("#IdGenre option:selected").val());
        //formData.append("Indication", $("#Indication").val());
        //formData.append("Saga", $("#Saga").val());

        $.ajax({
            type: "POST",
            url: '@Url.Action("AddBook","Book")',
            cache: false,
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            sucess: function (dados) {
                console.log("teste2");
            }
        });
    }




</script>
